.open-button {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 50px;
}


.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background: url("https://i.pinimg.com/236x/40/39/e0/4039e0f1ef08b7b965bacb4641a7af49--wallpaper-whatsapp-whatsapp-background.jpg");
  float: right;
  border: 2px solid grey;
  border-radius: 15px;
}

/* Full-width textarea */
.form-container textarea {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  height: 10px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #163ad1;
  color: white;
  font-weight: bold;
  padding: 16px 20px;
  border-radius: 25px;
  cursor: pointer;
  width: 100px;

  margin-bottom: 10px;
  border: 2px solid black;
}
.form-container .btn:hover {
  transform: translate(0, -2px);
}


.form-container .cancel {
  background-color: white;
  color: black;
  border-color: 2px solid black;
  margin-left: 50px;
}
.form-container .cancel:hover {
  transform: translate(0, -2px);
}


.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
h1 {
  color: white;
  justify-content: center;
}
